<div *ngIf="showWod">
  <div
    class="absolute bg-white left-[10%] top-[10%] z-50 grid place-items-center text-black w-[80%] h-[80%] rounded-lg"
  >
    <div class="h-[50%] w-[60%] -mt-20   text-justify">
        <p class="text-black mb-5 font-splinesans text-2xl ">Word Of The Day</p>
      <h1 class="font-lora italic font-[500] text-5xl">
        {{ wordOfTheDay?.word }}
      </h1>
      <h2 class="italic mt-5 font-semibold font-lora">Definition</h2>
      <div class="mt-3">
        <p
          class="ml-5"
          *ngFor="let definition of wordOfTheDay?.definitions; let i = index"
        >
          <span class="font-semibold font-lora">{{ i + 1 }} .</span
          ><span class="font-signika text-[16px]"> {{ definition?.text }}</span>
        </p>
      </div>
      <h2 class="italic mt-5 font-semibold font-lora">Examples</h2>

      <p
        class="mb-3 ml-5"
        *ngFor="let example of wordOfTheDay?.examples; let i = index"
      >
        <span class="font-semibold font-lora">{{ i + 1 }} .</span
        ><span class="font-signika text-[16px]"> {{ example?.text }}</span>
      </p>
      <p>
        <span class="italic font-semibold font-lora">Note: </span>
        <span class="italic font-lora">{{ wordOfTheDay?.note }}</span>
      </p>
    </div>
    <div (click)="closeWodModal()" class="cursor-pointer rounded-md border-2 font-semibold font-jetbrains border-purple-600 p-2 active:scale-[98%] hover:bg-purple-600 hover:text-white transition-all duration-100 ease-in-out">Start ScrabIng</div>
  </div>
</div>
