<div class="absolute z-10 h-[100vh] w-[100vw] grid place-items-center">
  <div
    class="relative h-[80%] w-[80%] lg:w-[50%] border-2 border-[#300046] rounded-lg"
  >
    <div
      class="absolute z-40 w-[100%] gap-4 flex justify-center p-5 sm:p-10 sm:mt-10"
    >
      <div
        [ngClass]="{
          grid: true,
          'animate-pulse': countDown <= 5,
          'place-items-center': true,
          'w-28': true,
          'h-14': true,
          'border-2': true,
          'border-violet-700': true,
          'rounded-full': true
        }"
      >
        <h1
          [ngClass]="{'text-red-500':countDown<=5,
          'text-purple-500':countDown>=6,
          'text-2xl':true,
          'font-jetbrains':true,
          'font-[900]':true,}"
        >
          00:{{ countDown }}
        </h1>
      </div>
    </div>
    <div
      class="absolute z-30 top-[20%] sm:top-[25%] left-[15%] h-[30%] w-[70%] p-5 border-2 border-purple-800 rounded-lg"
    >
      <div class="flex gap-5 absolute -top-4">
        <h1
          class="text-md rounded-md p-1 border-2 bg-black border-purple-800 text-purple-500 font-bold font-jetbrains"
        >
          Words:<span>{{ submittedWords.length }}</span>
        </h1>
        <h1
          class="text-md rounded-md p-1 border-2 bg-black border-purple-800 text-purple-500 font-bold font-jetbrains"
        >
          Score:<span>{{ score }}</span>
        </h1>
      </div>

      <div
        *ngIf="selectedLetters"
        class="flex justify-center gap-1 mt-10 w-[100%]"
      >
        <div
          (click)="removeSelectedTiles(0)"
          class="cursor-pointer grid place-items-center h-14 w-14 md:h-16 md:min-w-16 border-4 border-purple-900 rounded-[10px] active:scale-105 transition-all duration-100 ease-in-out"
        >
          <h1 class="text-purple-500 text-3xl font-jetbrains font-[800]">
            {{ selectedLetters[0] }}
          </h1>
        </div>
        <div
          (click)="removeSelectedTiles(1)"
          class="cursor-pointer grid place-items-center h-14 w-14 md:h-16 md:min-w-16 border-4 border-purple-900 rounded-[10px] active:scale-105 transition-all duration-100 ease-in-out"
        >
          <h1 class="text-purple-500 text-3xl font-jetbrains font-[800]">
            {{ selectedLetters[1] }}
          </h1>
        </div>
        <div
          (click)="removeSelectedTiles(2)"
          class="cursor-pointer grid place-items-center h-14 w-14 md:h-16 md:min-w-16 border-4 border-purple-900 rounded-[10px] active:scale-105 transition-all duration-100 ease-in-out"
        >
          <h1 class="text-purple-500 text-3xl font-jetbrains font-[800]">
            {{ selectedLetters[2] }}
          </h1>
        </div>

        <div
          (click)="removeSelectedTiles(3)"
          class="cursor-pointer grid place-items-center h-14 w-14 md:h-16 md:min-w-16 border-4 border-purple-900 rounded-[10px] active:scale-105 transition-all duration-100 ease-in-out"
        >
          <h1 class="text-purple-500 text-3xl font-jetbrains font-[800]">
            {{ selectedLetters[3] }}
          </h1>
        </div>
        <div
          (click)="removeSelectedTiles(4)"
          class="cursor-pointer grid place-items-center h-14 w-14 md:h-16 md:min-w-16 border-4 border-purple-900 rounded-[10px] active:scale-105 transition-all duration-100 ease-in-out"
        >
          <h1 class="text-purple-500 text-3xl font-jetbrains font-[800]">
            {{ selectedLetters[4] }}
          </h1>
        </div>
        <div
          (click)="removeSelectedTiles(5)"
          class="cursor-pointer grid place-items-center h-14 w-14 md:h-16 md:min-w-16 border-4 border-purple-900 rounded-[10px] active:scale-105 transition-all duration-100 ease-in-out"
        >
          <h1 class="text-purple-500 text-3xl font-jetbrains font-[800]">
            {{ selectedLetters[5] }}
          </h1>
        </div>
        <div
          (click)="removeSelectedTiles(6)"
          class="cursor-pointer grid place-items-center h-14 w-14 md:h-16 md:min-w-16 border-4 border-purple-900 rounded-[10px] active:scale-105 transition-all duration-100 ease-in-out"
        >
          <h1 class="text-purple-500 text-3xl font-jetbrains font-[800]">
            {{ selectedLetters[6] }}
          </h1>
        </div>
      </div>
     <div class="w-full flex gap-5 justify-center">
        <div
        (click)="shuffleTiles()"
        class="cursor-pointer mt-10 grid place-items-center h-14 w-14 rounded-full border-2 border-purple-800 hover:bg-purple-950 active:scale-105 transition-all duration-100 ease-in-out"
      >
        <fa-icon class="text-purple-600 text-2xl" [icon]="faRotate"></fa-icon>
      </div>
        <div
        (click)="shuffleTiles()"
        class="cursor-pointer mt-10 grid place-items-center h-14 w-14 rounded-full border-2 border-purple-800 hover:bg-purple-950 active:scale-105 transition-all duration-100 ease-in-out"
      >
        <fa-icon class="text-purple-600 text-2xl" [icon]="faShuffle"></fa-icon>
      </div>
     </div>
    </div>

    <div
      class="absolute z-20 flex flex-col w-[100%] gap-16 h-[100%] items-center justify-end pb-10 sm:pb-16"
    >
      <div
        (click)="submitWord()"
        class="cursor-pointer w-full flex items-center justify-center"
      >
        <h1
          [ngClass]="{
            'cursor-pointer': selectedLetters.length != 0,
            'cursor-not-allowed': selectedLetters.length == 0,
            'text-xl': true,
            'font-jetbrains': true,
            'border-4': true,
            'border-purple-800': true,
            'border-purple-950': selectedLetters.length == 0,
            'rounded-lg': true,
            'px-5': true,
            'py-1': true,
            'text-purple-500': selectedLetters.length != 0,
            'text-purple-900': selectedLetters.length == 0,
            'font-bold': true,
            'hover:bg-purple-950': selectedLetters.length != 0,
            'active:scale-105': true,
            'transition-all': true,
            'duration-100': true,
            'ease-in-out': true
          }"
        >
          ENTER
        </h1>
      </div>

      <div class="flex flex-wrap justify-center gap-5">
        <div
          *ngFor="let randomTile of randomTiles; index as i"
          (click)="onTileClick($event, i)"
          [ngClass]="{'relative':true,
          'grid':true, 
          'cursor-pointer':true,
          'place-items-center':true,
          'h-14':true,
          'w-14':true,
          'md:h-16':true,
          'md:min-w-16':true,
          'border-4':true,
          'border-purple-950':selectedLetterIndex.includes(i)||countDown==0 ,
          'border-purple-900':!selectedLetterIndex.includes(i),
          'rounded-[10px]':true,
          'active:scale-105':!selectedLetterIndex.includes(i),
          'transition-all':true,
          'duration-100':true,
          'ease-in-out':true,}"
        >
          <h1
            [ngClass]="{
              'text-purple-900':
                selectedLetterIndex.includes(i) || countDown == 0,
              'text-purple-500': !selectedLetterIndex.includes(i),
              'text-3xl': true,
              'font-jetbrains': true,
              'font-[800]': true
            }"
          >
            {{ randomTile }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
