<div class="select-none">
  <img
    class="absolute z-0 h-[100vh] w-[100vw] object-cover"
    src="../assets/scrabbi background00086400.png"
    alt="background-image"
  />
  <div class="relative top-10 z-20 w-[100%] flex items-center">
    <div title="home"  class="flex gap-4 items-center w-[80%] lg:w-[50%] mx-auto">
      <h1  routerLink="/" class=" text-fuchsia-200 text-lg font-jetbrains  cursor-pointer">Scrabbi</h1>

      <div class="flex items-baseline gap-4">
        <div
          title="leaderboard"
          routerLink="leaderboard"
   
          class="active:scale-110 cursor-pointer"
        >
          <fa-icon
            [icon]="faCrown"
            class="text-purple-800 text-[17px]"
          ></fa-icon>
        </div>
        <div
          title="word of the day"
          routerLink="wod"
          class="active:scale-110 cursor-pointer"
        >
          <fa-icon
            [icon]="faBook"
            class="text-purple-800 text-[16px]"
          ></fa-icon>
        </div>
        <div
          title="about"
          routerLink="wod"
          class="active:scale-110 cursor-pointer"
        >
          <fa-icon
            [icon]="faInfo"
            class="text-purple-800 text-[18px]"
          ></fa-icon>
        </div>
      </div>
    </div>
  </div>
 

  <router-outlet></router-outlet>
</div>
