<div class="select-none">
  <img
    class="absolute z-0 h-[100vh] w-[100vw] object-cover"
    src="../assets/scrabbi background00086400.png"
    alt="background-image"
  />
  <div [style.width.%]="elementWidth" class=" fixed h-1  bg-fuchsia-800 transition-all duration-150 ease-in-out">
  

  </div>
  <div class="relative top-10 z-20 w-[100%] flex items-center">
    
    <div class="flex gap-4 items-center   w-[80%] lg:w-[50%] mx-auto">
      <h1
        title="home"
        routerLink="/"
        class="text-fuchsia-200 font-bold text-lg font-jetbrains cursor-pointer"
      >
        Scrabbi
      </h1>

      <div class="flex items-baseline gap-4">
        <div
          title="leaderboard"
          routerLink="leaderboard"
          class="active:scale-110 cursor-pointer"
        >
          <fa-icon
            [icon]="faCrown"
            class="text-fuchsia-400 text-[17px]"
          ></fa-icon>
        </div>
        <div
          title="word of the day"
          routerLink="wod"
          class="active:scale-110 cursor-pointer"
        >
          <fa-icon
            [icon]="faBook"
            class="text-fuchsia-400 text-[16px]"
          ></fa-icon>
        </div>
        <div
          title="about"
          routerLink="wod"
          class="active:scale-110 cursor-pointer"
        >
          <fa-icon
            [icon]="faInfo"
            class="text-fuchsia-400 text-[18px]"
          ></fa-icon>
        </div>
      </div>
      <div class="w-[100%] flex justify-end gap-10">
        <div
          *ngIf="checkLocalHost()"
          routerLink="profile"
          class="group cursor-pointer border-2 border-fuchsia-800/10 rounded-lg  pr-2 flex  gap-2 hover:bg-fuchsia-400/10"
        >
          <div [innerHTML]="avatar" id="miniAvatarContainer">
            <!-- Mini avatar goes here -->
          </div>
          <div class="flex items-center gap-1">
            <h1
              class="text-fuchsia-300 group-hover:text-white font-jetbrains font-bold text-base "
            >
              {{ userInfo.username }}

            </h1>
            <div
              class="grid place-items-center px-1 h-4 group-hover:bg-fuchsia-100 bg-fuchsia-500/50 rounded-md"
            >
              <h1 class="text-[11px] font-jetbrains font-bold">105</h1>
            </div>
          </div>
        </div>

        <fa-icon
          title="logout"
          *ngIf="checkLocalHost()"
          (click)="logout()"
          [icon]="faLogout"
          class="text-fuchsia-500 hover:text-white cursor-pointer  text-[18px] transition-all duration-100 border-2 border-fuchsia-800/10 hover:bg-fuchsia-400/10 rounded-lg  px-3 py-2 ease-in-out"
        ></fa-icon>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
