<div class="absolute top-[10%] z-50 w-[100%] h-[90vh] flex justify-center">
  <div
    class="bg-fuchsia-300/10 p-10 text-black w-[80%] lg:w-[50%] mx-auto h-[90%] rounded-lg"
  >
    <div class="grid grid-rows-2 grid-cols-2">
      <div class="col-span-2 ">
        <div>
          <h1 class="text-lg font-jetbrains text-white">
            All-Time English Leaderboards
          </h1>
        </div>
        <div class="flex gap-5 w-fit h-fit mt-3">
          <div
            class="cursor-pointer bg-fuchsia-300 text-center h-8 w-28 grid place-items-center rounded-lg font-jetbrains hover:bg-gray-200 duration-200 ease-in-out"
          >
            <h1>all-time</h1>
          </div>
          <div
            class="cursor-pointer bg-fuchsia-300 text-center h-8 w-28 grid place-items-center rounded-lg font-jetbrains hover:bg-gray-200 duration-200 ease-in-out"
          >
            <h1>daily</h1>
          </div>
        </div>
      </div>
      <div class="col-span-2 -mt-48 p-5 h-[500px] overflow-y-scroll">
        <table class="w-full border-separate border-spacing-y-2">
          <thead>
            <tr class="text-[13px] font-jetbrains text-gray-600 font-bold">
              <td class="w-10 pl-4">#</td>
              <td class="text-gray-200">name</td>
              <td class="text-right hidden sm:table-cell">
                <h1 class="text-gray-200">wpm</h1>
                <h1 class="text-[10px]">accuracy</h1>
              </td>
              <td class="text-right pr-4 sm:pr-0">
                <h1 class="text-gray-200">score</h1>
                <h1 class="text-[10px]">word-count</h1>
              </td>
              <td class="text-right pr-4 hidden sm:table-cell">
                <h1 class="text-gray-200">date</h1>
                <h1 class="text-[10px]">time</h1>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let user of usersRanked; let i = index"
              class="text-gray-200 text-sm rounded-lg overflow-hidden font-bold px-3 h-12 font-jetbrains"
            >
              <td
              *ngIf="i+1!=1"
                class="text-[12px] bg-fuchsia-500/10 shadow-md rounded-l-md pl-4"
              >
                {{ i + 1 }}
              </td>
              <td
              *ngIf="i+1==1"
                class=" bg-fuchsia-500/10 shadow-md rounded-l-md pl-4"
              >
              <fa-icon
              [icon]="faCrown"
              class="text-fuchsia-300  text-[13px]"
            ></fa-icon>
              </td>
           
              <td class="w-[40%]  text-[12px] bg-fuchsia-500/10 shadow-md">
                <div class="flex gap-2">
                    <h2 class="cursor-pointer">{{ user.username }}</h2>
                <fa-icon *ngIf="user._id==userID" class="text-fuchsia-400/50" [icon]="faUser"></fa-icon>
                </div>
              </td>
              <td
                class="text-[12px] text-right bg-fuchsia-500/10 shadow-md hidden sm:table-cell"
              >
                <h2>{{user.highestWordCount/(user.gameTimeAtHighest/60)}}</h2>
                <h2 class="text-[10px] text-gray-400">
                   {{getRoundedValue((user.highestWordCount/user.totalNumberOfWordsAtHighest)*100)}}%
                  </h2>
              </td>
              <td
                class="text-[12px] text-right bg-fuchsia-500/10 shadow-md pr-4 rounded-r-md sm:rounded-none sm:pr-0"
              >
                <h2 class="text-[10px]">{{ user.highestScore }}</h2>
                <h2 class="text-[10px] text-gray-400">
                  {{ user.highestTimestamp && user.highestWordCount }}
                </h2>
              </td>
              <td
                class="text-[12px] text-right rounded-r-md  pr-4 bg-fuchsia-500/10 shadow-md hidden sm:table-cell"
              >
                <h2 class="text-[10px]">
                  {{
                    user.highestTimestamp && user.highestTimestamp.split("&")[0]
                  }}
                </h2>

                <h2 class="text-[10px] text-gray-400">
                  {{
                    user.highestTimestamp && user.highestTimestamp.split("&")[1]
                  }}
                </h2>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div></div>
    </div>
  </div>
</div>
